@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
  margin:0px;
  padding:0px;
  font-family: 'Montserrat', 'Extra-Bold';
}

/* *{
  font-family: helvetica, sans-serif;
} */

  .welcome {
    /* background: #FE6763; */
    margin-bottom: 20%;
  }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height:0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#navbar {
  height: auto;
  padding: 2vh;
  width:98vw;
  /* background-color:#FE6763; */
  position: relative;
  text-align:right;
  padding-top:3vh;
}

.nav-link {
  margin-right:7vw;
  text-decoration:none;
  color:white;
}


h1{
  /* color:#000000; */
  color:white;
  font-weight: 300;
  text-align:center;
}

h2, h3 {
  /* color:#000000; */
  color:white;
  font-weight: 200;
  text-align:center;
}

h1 {
  margin-top: 35vh;
  margin-bottom:2vh;
  font-size:5vw;
}

h2{
  margin-top:0px;
  line-height: 1.5;
  font-size: 2vw;
}

h3{
  margin-top:100px;
  line-height: 1.5;
  font-size: 1.3vw;
}


a {
  font-size: 1.2vw;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  position: absolute;
  left:50%;
  padding: 3px;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg)
}

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
	margin: 0;
	padding: 10px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

/* .socialbtns .fa {
    color: #FFF;
	background-color: #000;
	width: 60px;
    height: auto;
    padding-top: 12px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
  transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
  	transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
} */

/* .socialbtns .fa:hover {
	transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
} */


.socials {
  display: inline-block;
  justify-content: center;
  width: 100%;

}

.socialbtns li {
    list-style-type: none;
    /* display: inline-block; */
}

.socialbtns .ion {
  padding: 20px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  /* margin: 10px 2px 10px 10px; */
  /* border-radius: 60%; */
}

.ion:hover {
  opacity: 0.6;
}

.ion-social-facebook {
  /* background: #3B5998; */
  /* background: black; */
  color:black;
}

.ion-social-youtube {
  /* background: #bb0000; */
  /* background: black; */
  color: black;
}

.ion-social-vimeo {
  /* background: #45bbff; */
  /* background: black; */
  color: white;
}

.ion-social-instagram {
  /* background: #125688; */
  /* background: black; */
  color: white;
}

.ion-ios-email {
  color:white;

}



#video-background {
position: fixed;
right: 0;
/* margin-right: 2px; */

bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
}
